<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="icon" href="https://open.spotifycdn.com/cdn/images/favicon.0f31d2ea.ico">
    <title>Spotify - Web Player: Music for everyone</title>
</head>
 
<body>
    <div class="flex">
        <div class="left">
            <div class="upper">
                <a class="leftImgText" href="/"><img class="leftImg" src="/images/home.png" alt="">Home</a>
                <a class="leftImgText" href="/"><img class="leftImg" src="/images/search.png" alt="">Search</a>
            </div>
            <div class="lower">
                <div class="flex align-items">
                    <a class="leftImgText" href="/"><img class="leftImg" src="/images/library.png" alt="">Your Library</a>
                    <a href="/"><img class="lower11Img" src="/images/plus.png" alt=""></a>
                    <a href="/"><img class="lower12Img" src="/images/next.png" alt=""></a>                
                </div>
            </div>

        </div>

        <div class="right">
            <div id="spotify-navbar">
                <a href="https://www.spotify.com/in-en/premium/?utm_source=app&utm_medium=desktop&utm_campaign=upgrade&ref=web_loggedin_upgrade_button" class="navbar-button1">Explore Premium</a>
                <a href="https://www.spotify.com/in-en/download/windows/" class="navbar-button2">Install App</a>
            </div>

            <h4 style="margin: 19px 20px; font-size: 20px;">India's Best</h4>
            <div class="flex" style="padding: 0 10px;">
                <a href="/punjabi101"><img class="rightImg" src="/images/IB1.png" alt=""></a>
                <a href="/tollywood_pearls"><img class="rightImg" src="/images/IB2.png" alt=""></a>
                <a href="/india_india"><img class="rightImg" src="/images/IB3.png" alt=""></a>
                <a href="/kollywood_cream"><img class="rightImg" src="/images/IB4.png" alt=""></a>
                <a href="/equal_india"><img class="rightImg" src="/images/IB5.png" alt=""></a>
                <a href="/radar_india"><img class="rightImg" src="/images/IB6.png" alt=""></a>
            </div>
            <h4 style="margin: 19px 20px; font-size: 20px;">Charts</h4>
            <div class="flex" style="padding: 0 10px;">
                <a href="/hot_hits_tamil"><img class="rightImg" src="/images/charts1.png" alt=""></a>
                <a href="/top_50_india"><img class="rightImg" src="/images/charts2.png" alt=""></a>
                <a href="/top_50_global"><img class="rightImg" src="/images/charts3.png" alt=""></a>
                <a href="/hot_hits_punjabi"><img class="rightImg" src="/images/charts4.png" alt=""></a>
                <a href="/latest_telugu"><img class="rightImg" src="/images/charts5.png" alt=""></a>
                <a href="/latest_tamil"><img class="rightImg" src="/images/charts6.png" alt=""></a>
            </div>
            
            <div class="flex" style="height: 323px;">
                <div class="footer1">
                    <li style="font-size: 20px; font-weight: bolder;" >Company</li>
                    <li><a style="color: grey; text-decoration: none" href="https://www.spotify.com/in-en/about-us/contact/">About</a></li>
                    <li><a style="color: grey; text-decoration: none" href="https://www.lifeatspotify.com/">Job</a></li>
                    <li><a style="color: grey; text-decoration: none" href="https://newsroom.spotify.com/">For the Record</a></li>
                </div>
                <div class="footer1" style="margin: 0 40px;" >
                    <li style="font-size: 20px; font-weight: bolder;" >Communities</li>
                    <li><a style="color: grey; text-decoration: none;" href="https://artists.spotify.com/home">For Artists</a></li>
                    <li><a style="color: grey; text-decoration: none;" href="https://developer.spotify.com/">Developers</a></li>
                    <li><a style="color: grey; text-decoration: none;" href="https://ads.spotify.com/en-IN/">Advertising</a></li>
                    <li><a style="color: grey; text-decoration: none;" href="https://investors.spotify.com/home/default.aspx">Investors</a></li>
                    <li><a style="color: grey; text-decoration: none;" href="https://spotifyforvendors.com/">Vendors</a></li>
                    <li><a style="color: grey; text-decoration: none;" href="https://www.spotify.com/in-en/spotifyforwork/">Spotify for Work</a></li>
                </div>
                <div class="footer1">
                    <li style="font-size: 20px; font-weight: bolder;" >Useful links</li>
                    <li><a style="color: grey; text-decoration: none" href="https://support.spotify.com/in-en/">Support</a></li>
                    <li><a style="color: grey; text-decoration: none" href="https://www.spotify.com/in-en/download/windows/">Free Mobile App</a></li>
                </div>
                <div class="footer2 flex">
                    <a href="https://www.instagram.com/spotify/"><img class="footer2Img" src="/images/insta.png" alt=""></a>
                    <a href="https://twitter.com/i/flow/login?redirect_after_login=%2Fspotify"><img class="footer2Img" style="margin: 0 10px;" src="/images/twitter.png" alt=""></a>
                    <a href="https://www.facebook.com/SpotifyIndia/?brand_redir=6243987495"><img class="footer2Img" src="/images/facebook.png" alt=""></a>
                </div>
            </div>
            <hr>
            <div class="flex main_footer"> 
                <li><a class="main1" href="https://www.spotify.com/in-en/legal/end-user-agreement/">Legal</a></li>
                <li><a class="main1" href="https://www.spotify.com/in-en/privacy">Privacy Center</a></li>
                <li><a class="main1" href="https://www.spotify.com/in-en/legal/privacy-policy/">Privacy Policy</a></li>
                <li><a class="main1" href="https://www.spotify.com/in-en/legal/cookies-policy/">Cookies</a></li>
                <li><a class="main1" href="https://www.spotify.com/in-en/legal/privacy-policy/#s3">About Ads</a></li>
                <li><a class="main1" href="https://www.spotify.com/in-en/accessibility">Accessibility</a></li>
                <li class="main2" ><img style="width: 23px;" src="/images/footer.png" alt="">2023 Spotify AB</li>
            </div>
        </div>

    </div>
    <script src="https://kit.fontawesome.com/e83deecda0.js" crossorigin="anonymous"></script>
</body>

</html>